<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>List of articles</p>

    <% articles.forEach(element => { %>

        <h2>
             <%= element.title %>
        </h2>

        <h2>
            <%= element.description %>
       </h2>

       <h2>
        <%= element.tags %>
      </h2>


      <h2>
        <%= element.author %>
      </h2>

      <h2>
        <%= element.likes %>
      </h2>
      
      <a href="/articles/<%= element._id %>">
        <button>show details</button>
     </a>
     
    <% }) %>
    
</body>
</html>